<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="100">
        <mat-toolbar class="mat-toolbar-part" color="primary">
            <span>Login</span>
            <span class="fill-remaining-space"></span>
            <button class="btn btn-secondary close-btn" (click)="onClose()">X</button>
        </mat-toolbar>
        <form fxLayoutAlign="strech" fxLayout="column" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input [(ngModel)]="credentials.username" name="username" type="email" matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input [(ngModel)]="credentials.password" name="password" matInput placeholder="Password">
            </mat-form-field>
            <br>
            <button mat-raised-button color="warn" type="submit">login</button>

        </form>

    </mat-card>
</div>